*{
	margin: 0; padding: 0; box-sizing: border-box;
}
nav .x{
	background-color: yellow;
	color: black;
	padding: 2px 10px;

	
}
.active{
	background-color: yellow;
font-weight: 700;
}

.navbar-brand{
	font-size: 32px;
	font-weight: 700;

}
.gym{
	letter-spacing: 6px;
}
.rock{
	margin-top: 74px;
	padding: 0 0px;
	position: relative;
	background-color: black;
}
.rock img{
	opacity: 0.6;
}
.main_text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 90%;
    height: auto;

}
.main_text h2{
          font-size: 62px;
          line-height: 62px;
          letter-spacing: 1px;

}
.head h2{
	font-size: 52px;
	line-height: 52px;
	letter-spacing: 1px;
}
.head span{
	font-size: 47px;
}
.main_text .btn {
          	border-radius:0px !important;
         }

@media screen and (max-width: 957px){
	.fixed-top {
		background-color: rgba(0,0,0,0.8)!important;
	}
}
@media screen and (max-width: 568px){
	.rock img {
		height: 310px;
	}
	.rockdumbbell {
		height: 310px;
	}
}

.rockdumbbell{
		opacity: 0.4;
	}

@media screen and (max-width: 992px) and (min-width: 768px){
	 .main_text h2{
          font-size: 42px;
          line-height: 42px;
          letter-spacing: 1px;}
          .main_text .btn {
          	font-size: 14px;
          	margin-top: 10px !important;

          }
          .head h2{
	font-size: 38px;
	line-height: 38px;
	letter-spacing: 1px;
}
.head span{
	font-size: 33px;
}
.rockdumbbell_content h2{
	font-size: 42px !important;
}
.rockdumbbell_content p{
	font-size: 15px !important;
}
.rockdumbbell_content .btn{
	background-color: yellow;
	border-radius: 0;
	font-weight: 600;
	letter-spacing: 2px;
	padding-right: 14px!important ;
	padding-left: 14px !important;
	font-size: 14px;
}
.footer {
	font-size: 12px;

}
.main_footer{
	top: 5% !important;
}
 .meet img{
 	width: 250px;
 	height: auto;
 }
 .meet h2{
 	font-size: 38px;
 }
 .meet h4{
 	font-size: 28px;
 	margin: 20px 0;
 }
 .meet p{
 	font-weight: 600;
 }


}
@media screen and (max-width: 767px) and (min-width: 568px){

	.footer h4{ font-size: 14px;
	}
	.footer p{ font-size: 10px; line-height: 12px !important;
	}
	.main_footer{top: 2% !important;

	}
	.main_footer a{
		font-size: 10px;
		margin-right: 1px!important;
	}
	 .main_text h2{
          font-size: 32px;
          line-height: 32px;
          letter-spacing: 1px;}
          .main_text .btn {
          	font-size: 12px;
          	margin-top: 10px !important;
          }
           .head h2{
	font-size: 34px;
	line-height: 34px;
	letter-spacing: 1px;
}
.head span{
	font-size: 29px;
}
.notes h4{
    font-size: 24px;
}
p{
	font-size: 16px;
	line-height: 40px !important;
}
.rockdumbbell_content h2{
	font-size: 24px !important;
}
.rockdumbbell_content p{
	font-size: 10px !important;
	line-height: 12px !important;
}
.rockdumbbell_content .btn{
	padding-right: 10px!important ;
	padding-left: 10px !important;
}
.rockdumbbell_content p:before{
	font-size: 10px !important;
	padding: 4px 8px !important;

}


.letter h2{
	font-size: 32px !important ;
	word-spacing: 0px !important;
	letter-spacing: 0px !important;
	padding-bottom: 0px !important;
	padding-top: 10px;
}
.letter input {
	height: 34px !important;
	width: 60% !important;
	margin-bottom: 10px;
	font-size: 12px !important;
}
.letter label{

	padding: 5px 0 !important;
	margin-bottom: 0;
	width: 18% !important;
	font-size: 12px !important;
	padding: 8px 0 !important;
	
} 
.meet img{
 	width: 250px;
 	height: auto;
 }
 .meet h2{
 	font-size: 38px;
 }
 .meet h4{
 	font-size: 28px;
 	margin: 20px 0;
 }
 .meet p{
 	font-weight: 600;
 	line-height: 24px !important;
 }    

}

@media screen and (max-width: 567px){


	 .main_text h2{
          font-size: 22px;
          line-height: 22px;
          letter-spacing: 1px;}
          .main_text .btn {
          	font-size: 10px;
          	margin-top: 6px !important;
          }


          .head h2{
	font-size: 24px;
	line-height: 24px;
	letter-spacing: 1px;}


.head span{
	font-size: 20px;
         }

.notes h4{
    font-size: 24px;
      }
   p{
	font-size: 16px;
	line-height: 40px !important;
    }

 .rockdumbbell_content h2{
	font-size: 20px !important;
   }
.rockdumbbell_content p{
	font-size: 6px !important;
	line-height: 6px !important;
    }
.rockdumbbell_content .btn{
	padding-right: 6px!important ;
	padding-left: 6px !important;
	font-size: 6px;
     }
.rockdumbbell_content p:before{
	font-size: 6px !important;
	padding: 3px 6px !important;

     }
.java p{
	line-height: 15px !important;
	font-size: 10px;
      }

.letter h2{
	font-size: 16px !important ;
	word-spacing: 0px !important;
	letter-spacing: 0px !important;
	padding-bottom: 0px !important;
	padding-top: 5px;
}
.letter input {
	height: 24px !important;
	padding:8px 0 !important;
	font-size: 8px !important;
	
	
}
.letter label{

	
	margin-bottom: 0;
	font-size: 7px !important;

	
	padding: 7px 0px !important;
	
}



.meet img{
 	width: 200px;
 	height: auto;
 }
 .meet h2{
 	font-size: 32px;
 	margin: -20px 0 20px 0!important;
 }
 .meet h4{
 	font-size: 24px;
 	margin: -5px 0 10px 0!important;
 	margin: 20px 0;
 }
 .meet p{
 	font-weight: 600;
 	font-size: 14px;
 	line-height: 24px !important;
 	margin-bottom: 30px;
 }  
 .meet {
 	margin-bottom: -15px!important;
 }  



}

@media screen and (min-width: 992px){

.notes h4{
    font-size: 32px;
}
 .meet img{
 	width: 300px;
 	height: auto;
 }
 .meet h2{
 	font-size: 42px;
 }
 .meet h4{
 	font-size: 32px;
 	margin: 20px 0;
 }
 .meet p{
 	font-weight: 600;
 }

}

.notes h4{
    padding: 10px 0;
}


.notes i{
	font-size: 62px;
	width: 100px;
	height: 100px;
	background: rgba(0,0,255,0.1);
	padding-top:18px;
	border-radius: 50%;

}

.rockdumbbell_content{
	top: 50%;
	left: 15%;
	color: white;
	transform:translateY(-50%);

}
.rockdumbbell_content h2{
	font-size: 62px;
}
.rockdumbbell_content p{
	font-size: 20px;
}

.rockdumbbell_content p:before{
	content: '\2713';
	background-color: yellow;
	font-size: 15px;
	padding: 6px 10px;
	border-radius: 50%;
	color: black;
	font-weight: bold;
	margin-right: 10px;
}

.rockdumbbell_content .btn{
	background-color: yellow;
	border-radius: 0;
	font-weight: 600;
	letter-spacing: 2px;
	padding-right: 30px;
	padding-left: 30px;
}
.count h2{
	font-size: 40px;
	background-color: yellow;
}
.count p{
	font-size: 18px;
	font-weight: 600;
}
.java .btn{
	border-radius: 0;
	padding-left: 0px;
	font-size: 13px;
}
.java input{
	font-size: 13px;
}
.java input:last-child{
	font-weight: 600;

}
.letter{
	background-color: black;
}
.letter img{
	opacity: 0.2;
}
.letter div{
  
  width: 100%;
  text-align: center;

  
}
.letter h2{
	font-size: 40px;
	word-spacing: 15px;
	letter-spacing: 2px;
	font-weight: 700;
	color: white;
	padding-bottom: 18px;
}
.letter input {
	width: 50%;
	height: 48px;
	outline-color: transparent;
	border-color: transparent;
	font-size: 15px;
}
.letter label{
	padding: 13px 0;
	margin-bottom: 0;
	width: 18%;
	outline-color: transparent; 
	border-color: transparent;
	font-weight: 600;
	margin-left: -1px;
	font-size: 15px;
}

.footer {
	background-color: black;
	position: relative;
	color: white;
}
.footer img{
	opacity: 0.4;
}
.main_footer{
	top: 15%;
	left: 15%;
	width: 70%;
}
.main_footer a {
	color: white;
	text-decoration: none;
	margin-right: 8px;
}



@media screen and (max-width: 567px){

	

	 .footer img{
	 	height: 175px;
	 }
     footer h4{font-size: 14px;
      line-height: 5px !important;
     }
     footer p{font-size: 8px;
     	line-height: 12px !important;

     }
     .main_footer{
     	top: 10px!important;
     }
     footer a {
     	font-size: 6px !important;
     	margin-right: 1px!important;
     }
     
     .main_text h2{
          font-size: 22px;
          line-height: 22px;
          letter-spacing: 1px;}
          .main_text .btn {
          	font-size: 10px;
          	margin-top: 6px !important;
          }


          .head h2{
	font-size: 24px;
	line-height: 24px;
	letter-spacing: 1px;
          }
.head span{
	font-size: 20px;
         }
}

/*---------------------------------------------------About Css Start------------------------------------------------*/


@media screen and (min-width: 992px){
.about_rock{
	top: -350px;}
	.about_rock h2{
		position: absolute;
		top: 200px;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	.about_care{
	margin-top: -280px;

}
.about_care h2{
	font-size: 42px;
	margin-bottom: 50px;
	
}

.about_care p{
	line-height: 36px;
	
}


}

@media screen and (max-width: 991px) and (min-width: 768px){
.about_rock{
	top: -240px;}
	.about_rock h2{
		position: absolute;
		top: 130px;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	.about_care{
	margin-top: -180px;

}
.about_care h2{
	font-size: 36px;
	margin-bottom: 50px;
	
}

.about_care p{
	line-height: 36px;
	
}
.circle{
	padding-left: 65px!important;
}
.one,.two,.three,.four{
		width: 140px !important;
		height: 140px !important;
	}
.number{
	margin: 36px!important;

}
.one_one{
	top: 24px!important;
	left: 18px !important;
}
.two_two{
	top: 15px!important;
	left: 34px !important;
}
.three_three{
	top: 20px !important;
	left: 36px!important;
}
.four_four{
	top: 30px !important;
	left: 32px !important;
}

}

@media screen and (max-width: 767px) and (min-width: 568px){
.about_rock{
	top: -175px;}
	.about_rock h2{
		position: absolute;
		top: 94px;
		left: 50%;
		transform: translate(-50%,-50%);
	}

	.about_care{
	margin-top: -130px;

}
.about_care h2{
	font-size: 32px;
	margin-bottom: 50px;
	
}

.about_care p{
	line-height: 32px!important;
	font-size: 14px;
	word-spacing: 2px;
	
}
.circle{
	padding-left: 75px!important;
}
.number h2{
	font-size: 24px!important;
	margin-bottom: -10px;
}
.number p{
	font-size: 10px!important;
}

.one,.two,.three,.four{
		width: 100px !important;
		height: 100px !important;
	}
.number{
	margin: 16px!important;

}
.one_one{
	top: 18px!important;
	left: 22px !important;
}
.two_two{
	top: 1px!important;
	left: 32px !important;
}
.three_three{
	top: 0px !important;
	left: 28px!important;
}
.four_four{
	top: 20px !important;
	left: 20px !important;
}



}

@media screen and (max-width: 567px){
.about_rock{
	top: -180px;}
	.about_rock h2{
		position: absolute;
		top: 94px;
		left: 50%;
		transform: translate(-50%,-50%);
	}

   .about_care{
	margin-top: -140px;

}
.about_care h2{
	font-size: 20px;
	margin-bottom: 30px;
	
}

.about_care p{
	line-height: 36px!important;
	font-size: 14px;
	word-spacing: 2px;
	
}
.circle{
	padding-left: 40px!important;
}
.number h2{
	font-size: 24px!important;
	margin-bottom: -10px;
}
.number p{
	font-size: 10px!important;
}

.one,.two,.three,.four{
		width: 100px !important;
		height: 100px !important;
	}
.number{
	margin: 1px!important;

}
.one_one{
	top: 18px!important;
	left: 22px !important;
}
.two_two{
	top: 1px!important;
	left: 32px !important;
}
.three_three{
	top: 0px !important;
	left: 28px!important;
}
.four_four{
	top: 20px !important;
	left: 20px !important;
}

}
.one{
     border-left-color: transparent !important;	
     transform: rotate(45deg);
     position: relative;
}
.two{
     border-left-color: transparent !important;
     border-top-color: transparent !important;	
     transform: rotate(134deg);
     position: relative;
}
.three{
     border-left-color: transparent !important;
     border-top-color: transparent !important;	
     border-right-color: transparent !important;
     transform: rotate(134deg);
     position: relative;
}
.four{
	position: relative;
}
.one_one{
	position: absolute;
	top: 50px;
	left: 50px;
	font-weight: 600;
	transform: rotate(-45deg);
	color: yellow;
}
.two_two{
	position: absolute;
	top: 45px;
	left: 65px;
	font-weight: 600;
	transform: rotate(-134deg);
	color: yellow;
}
.three_three{
	position: absolute;
	top: 50px;
	left: 70px;
	font-weight: 600;
	transform: rotate(-134deg);
	color: yellow;
}
.four_four{
	position: absolute;
	top: 60px;
	left: 60px;
	font-weight: 600;
	color: yellow;
}
.circle	{
	padding-left: 130px;
}
.number{
	margin: 75px;

}
@media screen and (max-width: 1100px) and (min-width: 992px){
	.one,.two,.three,.four{
		width: 150px !important;
		height: 150px !important;
	}
.number{
	margin: 50px;

}
.one_one{
	top: 30px;
	left: 25px;
}
.two_two{
	top: 20px;
	left: 40px;
}
.three_three{
	top: 25px;
	left: 40px;
}
.four_four{
	top: 36px;
	left: 36px;
}
}
/*-------------------------------------------------Classes Style-------------------------------------*/
@media screen and (min-width: 992px){
.class_content{
	margin-top: -260px;
}
.prizes {
	margin-top: -30px;
	padding-top: 50px;
	margin-bottom: 70px;
	padding-bottom: 50px;
}

.prizes h2{
	font-size: 42px;
	margin-bottom: 50px;


}
.trainer{
	margin: 100px 100px 100px 100px;
}
.trainer h2{
    font-size: 42px;
    line-height: 42px;
    word-spacing: 8px;
    letter-spacing: 4px;

}
.trainer h2:not(:first-child){
  margin-bottom: 50px;
}
.trainer p{
	line-height: 36px;
	font-weight: 600;
}
.trainer .btn{
	margin-top: 30px;
}
}

@media screen and (max-width: 991px) and (min-width: 768px){
.class_content{
	margin-top: -140px;
}
.class_content p{
	line-height: 32px;
}
.prizes {
	margin-top: -50px;
	padding-top: 50px;
	margin-bottom: 70px;
	padding-bottom: 50px;
}

.prizes h2{
	font-size: 42px;
	margin-bottom: 50px;


}


.trainer h2{
    font-size: 36px;
    line-height: 36px;
    word-spacing: 6px;
    letter-spacing: 2px;

}
.trainer h2:not(:first-child){
  margin-bottom: 40px;
}
.trainer p{
	line-height: 36px;
	font-weight: 600;
}
.trainer .btn{
	margin: 30px 0 50px 0;
}

}

@media screen and (max-width: 767px) and (min-width: 568px){
.class_content{
	margin-top: -110px;
	
}
.class_content i{
	font-size: 52px;
	width: 100px !important;
	height: 100px !important;
	padding-top: 24px !important;
}
.class_content h2{
	font-size: 24px;
}
.class_content p{
	font-size: 15px;
	line-height: 32px !important;
	margin-bottom: 40px;
}

.class_content .row{
	margin-bottom: -40px !important;
}

.prizes {
	margin-top: 20px;
	padding-top: 50px;
	margin-bottom: 70px;
	padding-bottom: 50px;
}

.prizes h2{
	font-size: 32px;
	margin-bottom: 50px;


}

.trainer h2{
    font-size: 28px;
    line-height: 28px;
    word-spacing: 2px;
    letter-spacing: 2px;

}
.trainer h2:not(:first-child){
  margin-bottom:28px;
}
.trainer p{
	line-height: 32px !important;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 1px;
}
.trainer .btn{
	margin: 20px 0 40px 0;
}


}


@media screen and (max-width: 567px) {
.class_content{
	margin-top: -110px;
	margin-bottom: -40px;
	
}

.class_content .row{
   margin-bottom: -32px !important;
	
}
.class_content i{
	font-size: 42px;
	width: 80px !important;
	height: 80px !important;
	padding-top: 20px !important;
}
.class_content h2{
	font-size: 24px;
}
.class_content p{
	font-size: 15px;
	line-height: 32px !important;
	margin-bottom: 42px;
}

.prizes {
	margin-top: 25px;
	padding-top: 50px;
	margin-bottom: 70px;
	padding-bottom: 50px;
}

.prizes h2{
	font-size: 32px;
	margin-bottom: 50px;


}
.trainer h2{
    font-size: 28px;
    line-height: 36px;
    word-spacing: 2px;
    letter-spacing: 2px;

}
.trainer h2:not(:first-child){
  margin-bottom:28px;
}
.trainer p{
	line-height: 32px !important;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 1px;
}
.trainer .btn{
	margin: 20px 0 40px 0;
}


}


.class_content i{
	background-color: rgba(	0,0,255,0.1);
	width: 110px;
	height: 110px;
	border-radius: 50%;
	padding-top: 15px;

	
}
.box{
	border: 4px solid white !important;
	
	background-color: rgba(0,0,0,0.8);
	color: white;
	font-weight: 600;
}
.box:hover{
	background-color: yellow;
	transition: 1s;
	color: black;
}
.box:hover >button{
	background-color: black !important;
	transition: 1s;
	color: white;
}

.box p{
	line-height: 36px;
}




